 /******************************************************************** ************************************************/
@media only screen and (min-width: 10px) {
	div.mpcrbm_transport_search_area {width: 100%;max-width: 1200px; padding-bottom: 20px; margin-bottom: 20px;}
	div.mpcrbm_transport_search_area div.tabsContentNext {padding: 0; margin:10px; }
	div.mpcrbm_transport_search_area div.mpcrbm_distance_time { margin: var(--dmp) 0 0 0; }
	div.mpcrbm_distance_time h6 {font-size: var(--fs);color: var(--d_color);}
	div.mpcrbm_distance_time strong {font-size: var(--fs);}
	#mpcrbm_map_area { width: 100%; height: 100%; min-height: 200px;border-radius: 15px; }
	div.mpcrbm_form_details_area #mpcrbm_map_area{min-height: 300px;}
	div.mpcrbm_transport_summary,
	div.mpcrbm_extra_service {display: none;}
	div.mpcrbm_transport_search_area div[data-extra-service] {display: none;}
	div.get_details_next_link {display: none;}
	div.mpcrbm_transport_search_area .woocommerce-page span.woocommerce-input-wrapper,
	div.mpcrbm_transport_search_area .woocommerce-page table span {display: initial;}
	div.mpcrbm_transport_search_area .woocommerce-page label {margin: 0 0 var(--dmp_xs) 0;display:initial;}
	div.mpcrbm_transport_search_area .woocommerce-page label img{width:inherit !important;}
	div.mpcrbm_transport_search_area table th,
	div.mpcrbm_transport_search_area table td {border: none;}
	div.mpcrbm_transport_search_area .woocommerce form .form-row {margin-bottom: var(--dmp_xs);}
	div.mpcrbm .tabsContentNext {
		width: auto;
	}
	div.mpcrbm_map_search_result{
		margin-top:10px;
	}
	div.mpcrbm_transport_summary{
		margin: 20px 0;
		background: white;
		border: 1px solid #e5e7eb;
		border-radius: 12px;
		padding: 20px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	}
	div.mpcrbm_transport_summary h3{
		margin: 0px 0 12px 0;
	}
	.mpcrbm_transport_summary .book-items{
		background-color: #f7fafc;
		color: #fff;
		padding: 10px;
		border-radius: 5px;
		margin: 10px 0;
	}
	.mpcrbm_transport_summary .total{
		background-color: #07a85b;
		color: #fff;
		padding: 10px;
		border-radius: 5px;
		margin: 10px 0;
		display: flex;
    	align-items: center;
	}
	.mpcrbm_transport_summary .total h6,.mpcrbm_transport_summary .total h3{
		margin: 0;
	}
}
/******************************************************************** ************************************************/
@media only screen and (min-width: 10px) {
	div.mpcrbm_transport_search_area{
		margin: auto;
	}
	div.mpcrbm_transport_search_area .mpcrbm_tab_next .tabItemNext {min-height: 135px;}
	div.mpcrbm_transport_search_area .circleIcon {width: 62px;height: 62px;font-size: 27px;font-weight: 600;color: #666666;background-color: #EAECEE; }
	div.mpcrbm_transport_search_area .tabItemNext.active [class*="circleIcon"] {background-color: var(--color_theme);color: #FFF;}
	div.mpcrbm_transport_search_area .tabItemNext.active [class*="circleIcon"].success {background-color: var(--color_success);}
	div.mpcrbm_transport_search_area .tabItemNext .circleTitle {font-weight: 400;color: #A9A9A9;margin: 0 !important;top: 80px;font-size: 22px;text-transform: capitalize;}
	div.mpcrbm_transport_search_area .tabItemNext.active .circleTitle {font-weight: 600;color: #152C5B;}
	div.mpcrbm_transport_search_area .tabItemNext [class*="circleIcon"]::after {top: 31px;border-color: #EAECEE;left: calc(50% + 31px);}
	/*********************/
	div.mpcrbm_transport_search_area .mpcrbm_search_area {
		border-radius: var(--dbrl);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
		background-color: #F5F7FF;
	}
	
	div.mpcrbm_transport_search_area .mpcrbm_search_area h3 {text-transform: uppercase;color: #152C5B;}
	div.mpcrbm_transport_search_area .mpcrbm_search_area label {font-weight: 400;color: #152C5B;}
	div.mpcrbm_transport_search_area .mpcrbm_search_area label .formControl {
		height: 37px;
		color: #222222;
		font-weight: 400;
		font-size: 14px;

		border-color: #EBECEE;
		background-image: url('../../mp_global/assets/images/arrow_down.svg');
		background-repeat: no-repeat; 
		background-position: calc(100% - var(--dmp_xs)); 
		background-size: auto;
		-webkit-appearance: none;
		border: unset !important;
		/*border-radius: 10px;*/
	}
	.mpcrbm .mpBtn, .mpcrbm [class*="_mpBtn"], .mpcrbm button {
		font-size:14px;
    	font-weight:bold;
	}
	.mpcrbm_transport_search_area .input_select{
		width: 100%;
	}
	div.mpcrbm_transport_search_area .mpcrbm_map_area {max-width: calc(65% - 30px);width: 65%;}
	div.mpcrbm_form_details_area div.mpcrbm_map_area{max-width: 100%;width: 100%;}
	div.mpcrbm_transport_search_area #mpcrbm_start_date.formControl {
		/*padding: var(--dmp_xs) 35px var(--dmp_xs) 60px;*/
	}
	div.mpcrbm_transport_search_area #mpcrbm_return_date.formControl {
		/*padding: var(--dmp_xs) 35px var(--dmp_xs) 60px;*/
	}
	div.mpcrbm_transport_search_area div.input_select .formControl {
		/*padding: var(--dmp_xs) 35px var(--dmp_xs) 60px;*/
	}
	div.mpcrbm_transport_search_area .mpcrbm_left_icon { position: absolute; left: 1px; bottom: 1px; width: 45px !important; font-size: 25px; background-color: #fff; color: #666666; border-radius: var(--dbr) 0 0 var(--dbr); height: 46px; margin: 0 !important;}
	/*********************/
	div.mpcrbm_transport_search_area .leftSidebar h3 {color: #152C5B; font-size: 24px;font-weight: 700;text-transform: uppercase;}
	div.mpcrbm_transport_search_area .leftSidebar h6 {color: #152C5B;font-size: 17px;font-weight: 600;}
	div.mpcrbm_transport_search_area .leftSidebar p {color: #2B1818;font-size: 16px;font-weight: 400;}
	div.mpcrbm_booking_item h5 {color: #000;font-size: 20px;font-weight: 600}
	div.mpcrbm_booking_item h4 {color: #000;font-size: 20px;font-weight: 600;margin:0;}
	.mpcrbm_booking_item_hidden{display: none !important;}
	div.mpcrbm_transport_search_area ul.list_inline_two li {border: none;color: #626262;font-weight: 400;font-size: 14px;}
	div.mpcrbm_transport_search_area button.mpcrbm_price_calculation,
	div.mpcrbm_transport_search_area button.mpcrbm_transport_select {
		background-color: var(--color_theme);
		border: 1px solid var(--color_theme);
		color: #fff;
		padding: 10px;
  		border-radius: 50px;
	}

	.div.mpcrbm_transport_search_area .mpcrbm_transport_select:hover span{
		color: var(--color_theme_alter);
	}
	div.mpcrbm_transport_search_area button.mpcrbm_price_calculation.mActive,
	div.mpcrbm_transport_search_area button.mpcrbm_price_calculation.active_select,
	div.mpcrbm_transport_search_area button.mpcrbm_transport_select.active_select {
		background-color: var(--color_success);
		border: 1px solid var(--color_success);
		color: var(--color_theme_alter);
	}
	button.mpcrbm_price_calculation span:nth-child(2){
		margin-right: 5px;
	}
	div.mpcrbm_transport_search_area div.sticky_on_scroll {
		/*min-height: 400px;*/
		overflow: auto;
		/*border: 1px solid var(--color_border);*/
		border: 1px solid #e5e7eb;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
		border-radius: 12px;
	}
	 .mpcrbm-image-box{
		width:35%;
		height: 200px;
	}
	 .mpcrbm-image-box .bg_image_area{
		width: 100%;
		
		border-radius: 18px;
	 }

	div.mpcrbm_transport_search_area div.mpcrbm_list_details {
		width: 65%;
		padding:10px;
	}
	div.mpcrbm_list_details h2{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.mpcrbm-price{
		font-size: 1.2em; 
		font-weight: bold; 
		color: #333; 
		text-align: end;
	}
	.mpcrbm_price-total{
		margin-top: 2px; 
		color: #666; 
		font-size: 0.85em;
	}
	.mpcrbm_price-total span{
		color: #4CAF50; 
		font-weight: bold; 
		margin-left: 5px;
	}
}
/******************************************************************** Responsive ************************************************/
@media only screen and (max-width: 1000px) {
	div.mpcrbm_transport_search_area .mpcrbm_search_area {
		/*padding: 30px;*/
	}
}
@media only screen and (max-width:1200px) {
	div.mpcrbm_transport_search_area .mpcrbm_map_area{width:100%;max-width:100%;}
	div.mpcrbm_transport_search_area div.mpcrbm_booking_item,
	div.mpcrbm_pick_up_details > .justifyBetween {-webkit-flex-direction: column;flex-direction: column;}
	div.mpcrbm_transport_search_area .mpcrbm_search_area.inputHorizontal,
	div.mpcrbm_transport_search_area .mpcrbm_map_area,
	div.mpcrbm_transport_search_area .leftSidebar,
	div.mpcrbm_transport_search_area .leftSidebar .sticky_area,
	div.mpcrbm_transport_search_area .mainSection {width: 100%;max-width: 100%;}
	div.mpcrbm_transport_search_area #mpcrbm_map_area {margin: var(--dmp) 0;min-height: 400px;}
	div.mpcrbm_transport_search_area .mainSection {margin: var(--dmp) 0 0 0;}
	div.mpcrbm_transport_search_area ul.list_inline_two li {width: 100%;}
	div.mpcrbm_transport_search_area div.mpcrbm_list_details [class*="_min_150"],
	div.mpcrbm_transport_search_area button.mpcrbm_transport_select {width: auto;min-width: 100px;}
	.mpcrbm_booking_item .mpcrbm-image-box{
		width: 100%;
		flex-shrink: 0;
	}
	.mpcrbm-image-box{
		width: 100%;
		height: 200px;
	}
	.mpcrbm-image-box img{
		width: 100%;
		
		object-fit: cover;
	}
	 div.mpcrbm_transport_search_area div.mpcrbm_list_details {
		width:100%;
		padding: 10px;
	}
}
@media only screen and (max-width: 600px) {
	div.mpcrbm_transport_search_area .mpcrbm_tab_next .tabItemNext { min-height: 60px; }
	div.mpcrbm_transport_search_area .mpcrbm_tab_next .tabItemNext [class*="circleIcon"] {width: 30px;height: 30px;min-width: 30px;font-size: var(--fs);}
	div.mpcrbm_transport_search_area .mpcrbm_tab_next .tabItemNext [class*="circleIcon"]::after {top: 15px;left: calc(50% + 15px);}
	div.mpcrbm_transport_search_area .mpcrbm_tab_next .tabItemNext .circleTitle {font-size: 12px;top: 35px;}
}
.mpcrbm_transport_search_area{
	margin: 0 auto;
}

#ui-datepicker-div {
	width:auto;
}
.mpcrbm_tab_next .tabItemNext.active [class*="circleIcon"]::after{
	border-width: 5px;
}
.mpcrbm_tab_next .tabItemNext [class*="circleIcon"]::after{
	border-width: 5px;
}

 .mpcrbm_horizontal_section_divider {
	 height: 1px;
	 background-color: #e5e7eb;
	 margin: 26px 0 !important;
 }
 .mpcrbm_horizontal_section_label {
	 font-size: 12px;
	 font-weight: 600;
	 color: #6b7280;
	 text-transform: uppercase;
	 letter-spacing: 0.5px;
	 margin: 12px 0;
 }
.mpcrbm_horizontal_date_time_input{
	 background: #fff;
	 border-radius: 12px;
	 padding:12px 8px 8px 8px;
	 width: 33.33%;
	 display: flex;
	 gap: 1px;
 }
 .mpcrbm_horizontal_booking_title{
	 color: #666666;
	 text-align: center;
 }

.mpcrbm_inline_search_form label span i{ 
	margin: 0 !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

 .mpcrbm_next_button{
	 width: 90% !important;
	 max-width: 90% !important;
	 padding: 12px !important;
	 margin: 10px !important;
 }

 .mpcrbm_dFlex_fdColumn_btLight{
	 background: #f7f7fd;
	 /*border: 1px solid #e5e7eb;*/
	 /*border-radius: 20px;*/
	 padding: 10px 10px;
	 height: fit-content;
	 /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);*/
 }
 .mpcrbm_summary_title{
	 font-size: 22px;
	 font-weight: 600;
	 margin-bottom:10px;
	 color: #2c3e50;
	 display: flex;
	 align-items: center;
	 gap: 5px;
 }
 .mpcrbm_booking_vehicle {
	 background: white;
	 border: 1px solid #e5e7eb;
	 border-radius: 18px;
	 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	 transition: all 0.3s ease;
	 display: flex;
	 justify-content: space-between;
	 align-items: start;
	 margin-bottom:10px;
 }

 .mpcrbm .mpcrbm-image-box img:not(.wp_editor img){
	height: 100%;
	display: block;
 }
 .mpcrbm_group {
	 margin: 20px 0 10px 0;
 }

 .mpcrbm_pickup_drop_off_checkbox{
	 display: flex;
	 flex-direction: column;
	 margin-right: 10px;
	 min-width: 220px;
 }

 .mpcrbm_location_checkbox{
	 display: flex;
	 flex-direction: column;
 }
.mpcrbm_booking_vehicle .woocommerce-Price-amount{font-size:22px;}
.mpcrbm .mpcrbm_extra_service .dLayout{border-radius:20px; background-color: #f7f5f5;}
div.mpcrbm .mpcrbm_extra_service h3{margin:0px 0 12px 0;}
h2#mpcrbm_title_change{color:white;}
.mpcrbm_car_specs_lists{
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	gap: 8px;
	font-size: 16px;
	
}

.mpcrbm_car_spec{
	display: flex;
	align-items: start;
	gap:10px;
	width: 48%;
	margin:6px 0;
}
.mpcrbm_car_spec i{
	font-size: 22px;
	color: #394454;
}

.mpcrbm_car_spec .spec-label{
	font-size: 12px;
	color: #64748b;
}
.mpcrbm_car_spec .spec-value{
	font-size: 12px;
	font-weight: bold;
}

.mpcrbm_price-breakdown {
	font-size: 11px;
	color: #94a3b8;
	font-weight: 500;
	
}

.mpcrbm_list{
	gap:10px;
}

.mpcrbm-discount-seasonal .mpcrbm_price-breakdown .amount{
    text-decoration: line-through;
}

.mpcrbm_line_through{
	text-decoration: line-through;
}

 .mpcrbm_price-main {
	 font-size: 18px;
	 font-weight: 800;
	 color: var(--color_success);
 }
 .mpcrbm_seasonal-info {
	 font-size: 10px;
	 color: #d97706;
	 background: #fefce8;
	 padding: 5px;
	 border-radius: 5px;
	 display: inline-block;
	 border: 1px solid #fde68a;
	 text-align: center;
 }

 .mpcrbm_discount_info{
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 gap:5px;
 }

 .mpcrbm_100_width{
	 width: 100%;
 }
 .mpcrbm_width_33{
	 width: 33.33%;
 }

 .mpcrbm_price-total {
	 font-size: 11px;
	 color: #64748b;
	 font-weight: 500;
	 padding: 2px 0px;
	 text-align: right;
 }
 .mpcrbm_booking_vehicle .mpcrbm_discount-info .woocommerce-Price-amount {
	 font-size: 12px !important;
 }
 .mpcrbm_booking_vehicle .mpcrbm_price-breakdown .woocommerce-Price-amount {
	 font-size: 16px !important;
	 /*text-decoration: line-through;*/
 }
 .mpcrbm_booking_vehicle .mpcrbm_price-main .woocommerce-Price-amount {
	 font-size: 16px !important;
	 /*text-decoration: line-through;*/
 }

 .mpcrbm_discount-info {
	 font-size: 10px;
	 color: #059669;
	 font-weight: 600;
	 background: #f0fdf4;
	 padding: 5px;
	 border-radius: 5px;
	 display: inline-block;
	 border: 1px solid #bbf7d0;
 }
 .mpcrbm_booking_items{
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
	 text-align: center;
	 align-items: end;
	 gap:5px;
 }

 .mpcrbm_textRight{
	 text-align: right;
 }
 .mpcrbm_duration-highlight {
	color: var(--color_success);
	border-radius: 12px;
	text-align: center;
 }
 .mpcrbm_duration-days {
	 font-size:14px;
	 font-weight: 700;
 }

 .mpcrbm_duration-label {
	 font-size: 12px;
	 opacity: 0.9;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 margin-top: 4px;
 }

 .mpcrbm_feature_icon_color_1 {
	 color: #0a4b78 !important;
 }
 .mpcrbm_feature_icon_color_2 {
	 color: #e67e22 !important;
 }
 .mpcrbm_feature_icon_color_3 {
	 color: #27ae60 !important;
 }
 .mpcrbm_feature_icon_color_4 {
	 color: #8e44ad !important;
 }
 .mpcrbm_feature_icon_color {
	 color: #e67e22 !important;
 }

.mpcrbm_add_multiple_qty{
	display: flex;
	justify-content: end;
	padding: 8px 0;
}

.mpcrbm_search_result_holder{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.mpcrbm_main_content{
	display: flex;
	flex-direction: column;
	width: calc( 100% - 250px );
}

 .mpcrbm_left_filter{
	 display: flex;
	 flex-direction: column;
	 width: 330px;
	 border-radius: 5px;
 }

 .mpcrbm-left-filter {
	 background: #fff;
	 padding: 10px;
	 border-radius: 10px;
	 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
	.mpcrbm-filter-group {
		margin-bottom: 20px;
		border: 1px solid #ddd;
		border-radius: 10px;
		padding: 10px;
	}
   div.mpcrbm .mpcrbm-filter-title {
	font-size: 16px;
	font-weight: 600;
	color: #333;
	border-bottom: 1px solid #eee;
	padding-bottom: 4px !important;
 }
 .mpcrbm-filter-list {
	list-style: none;
	padding-left: 10px;
	margin: 0;
	padding-top: 8px !important;
 }
 .mpcrbm-filter-list li {
	 margin: 4px 0;
 }
 .mpcrbm-filter-list input[type="checkbox"] {
	 margin-right: 6px;
	 cursor: pointer;
 }

 button.mpcrbm_filter_btn {
	 background: #007bff;
	 color: #fff;
	 border: none;
	 border-radius: 8px;
	 padding: 8px 16px;
	 font-size: 15px;
	 display: flex;
	 align-items: center;
	 gap: 6px;
	 cursor: pointer;
	 transition: 0.3s;
	 width: 100%;
	 margin-bottom: 10px;

 }
 .mpcrbm_filter_btn:hover {
	 background: #0056b3;
 }

 .mpcrbm_extra_service_layout{
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 10px;
 }
 .mpcrbm_extra_service_layout_details{
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 10px;
 }
	.price-quantity-box{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
	.price-quantity-box .mpcrbm-price{
		font-size: 1.2em;
		font-weight: bold;
		color: #2c3338;
		text-align: end;
	}

 .mpcrbm_discount_booking{
	 display: flex;
	 flex-direction: column;
	 gap: 10px;
	 justify-content: end;
	 align-items: revert;
	 width: 50%;
 }

 .mpcrbm_car_quantity{
	 margin-right: 5px;
 }

 .mpcrbm_price_holder{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 flex-direction: row;
	 gap: 20px;
 }

 .mpcrbm_summary_show{
	 width: 25%;
	 display: flex;
	 position: relative;
	 flex-direction: column;
	 gap: 2px;
	 padding:10px;
	 background-color: #fff;
	 border: 2px solid #f0f0f0;
	 justify-content: start;
	 border-radius: 8px;
	 font-weight: 600;
 }
 .mpcrbm_summary_show:nth-of-type(4){
	border:2px solid var(--color_success);
 }

 .mpcrbm_summary_show span{
	color: #333;
	font-weight: 300;
	font-size: 14px;
}
.mpcrbm_summary_show i{
	color: var(--color_theme);
}

.mpcrbm_summary_show p:not(.wp_editor p){
	font-weight: bold;
	color: #333;
	font-size: 14px;
 }

 .mpcrbm_location_icon_margin{
	 color: var(--color_theme);
	 margin: 5px !important;
 }

 .mpcrbm_mainSection{
	 margin-top: 10px;
 }

 .mpcrbm_booking_summary_description{
	 position: relative;
	 display: flex;
	 gap: 10px;
 }


 @media (max-width: 768px) {
	 .mpcrbm_search_result_holder{
		 flex-direction: column;
	 }

	div.mpcrbm_transport_search_area div.mpcrbm_list_details {
		width: 100%;
	}
	 .mpcrbm_main_content{
		 width: 100%;
	 }
	 .mpcrbm_left_filter {
		 width: 100%;
	 }
	.mpcrbm_booking_summary_description{
		flex-direction: column;
	}
	.mpcrbm_summary_show{
		width: 100%;
	}
	
	div.mpcrbm_transport_search_area div.mpcrbm_list_details {
		width: 100%;
	}
	.mpcrbm_discount_booking {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-top: 1px solid #e5e7eb;
	}
	.mpcrbm_discount_booking, .mpcrbm_car_specs_lists {
		width: 100%;
	}
}

