.mpcrbm_order_list_wrapper {
    padding: 20px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: auto;
}

.mpcrbm_order_list_title {
    font-size: 24px;
    margin-bottom: 16px;
    color: #2c3e50;
    text-align: center;
}

.mpcrbm_order_list_table_wrap {
    overflow-x: auto;
}

.mpcrbm_order_list_table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

.mpcrbm_order_list_table th,
.mpcrbm_order_list_table td {
    border: 1px solid #ccc;
    padding: 10px 14px;
    text-align: left;
    font-size: 14px;
}

.mpcrbm_order_list_table thead {
    background-color: #f8f9fa;
}

.mpcrbm_order_list_table th {
    background: #34495e;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mpcrbm_order_list_table tr:nth-child(even) {
    background-color: #f4f4f4;
}

.mpcrbm_order_list_table td {
    white-space: nowrap;
}



.mpcrbm_order_list__filter-wrapper {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /*max-width: 1200px;*/
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.mpcrbm_order_list__filter-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mpcrbm_order_list__filter-item {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
}
.mpcrbm_order_list_name_filter-item {
    /*flex: 1 1 60px;*/
    display: flex;
    flex-direction: column;
}

.mpcrbm_order_list__filter-item label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.mpcrbm_order_list_name_filter-item label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.mpcrbm_order_list__filter-title{
    text-align: center;
}

.mpcrbm_order_list__input,
.mpcrbm_order_list_user_info_filter,
.mpcrbm_order_list__select {
    padding: 10px !important;
    border-radius: 5px !important;;
    border: 1px solid #ccc !important;
}

.mpcrbm_filter_by_date{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 20px 20px 20px;
}
.mpcrbm_filter_date{
    padding: 5px 12px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.mpcrbm_data_selected{
    background-color: #26afec;
    color: #fff;
    border: 1px solid #06899a;
}

.mpcrbm_car_oder_details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mpcrbm_order_extra_service_holder{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid #d9d4d4;
    border-radius: 5px;
    gap: 5px;
}

.mpcrbm_order_extra_btn_details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mpcrbm_order_extra_service_btn_holder{
    display: flex;
    justify-content: center;
}
.pcrbm_order_extra_service_btn{
    padding: 5px 10px;
    background-color: #0791d0;
    color: #fff;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
}
.pcrbm_order_extra_service_btn:hover{
    background-color: #0c8cc5;
}

