:root{
    --mpcrbm-primary:#F12971;
    --mpcrbm-sky:#f38fb3;
    --mpcrbm-sky-light:#EFFAFF;
    --mpcrbm-secondary:#1d2327;
    --mpcrbm-dark:#a4a4a4;
    --mpcrbm-gray:#e0e0e0;
    --mpcrbm-light:#F5F5F5;
    --mpcrbm-white:#ffffff;
    --mpcrbm-black:#000000;
    --mpcrbm-yellow:#ffcb00;
    --mpcrbm-red:#d91e1e;
    --mpcrbm-red-light:#f6dada;
}
$color-primary:var(--mpcrbm-primary);
$color-secondary:var(--mpcrbm-secondary);
$color-sky:var(--mpcrbm-sky);
$color-sky-light:var(--mpcrbm-sky-light);
$color-dark:var(--mpcrbm-dark);
$color-gray:var(--mpcrbm-gray);
$color-light:var(--mpcrbm-light);
$color-white:var(--mpcrbm-white);
$color-black:var(--mpcrbm-black);
$color-black:var(--mpcrbm-black);
$color-yellow:var(--mpcrbm-yellow);
$color-red:var(--mpcrbm-red);
$color-red-light:var(--mpcrbm-red-light);
